.description{
 color: #6D6D6D;
 font-size: 12px;
 line-height: 12px;
 margin-bottom: 8px;
 max-width: 295px;
}

.citation-link{
    text-decoration: underline;
    color:#6D6D6D;
}

.break-word {
    word-break: break-all;
}
.citation-list .title {
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin-inline: 0;
    margin-block: 0;
    padding: 4px 0px;
  }
